@import model.TableEntry

@(station: String, table: Seq[TableEntry])

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

@main("Welcome to Bahn time table") {

  <section id="top">
    <div class="wrapper">
        <h1>@station</h1>
    </div>
  </section>

  <div id="content" class="wrapper doc">
    <article>
        <table>
            <tr><th>Linie</th><th>Gl.</th><th>Ankunft</th><th>Abfahrt</th><th>Aus</th><th>Nach</th><th>Aktuelle Ankunft</th><th>Aktuelle Abfahrt</th></tr>
            @for(entry <- table) {
              <tr>
                  <td>@entry.line</td>
                  <td>@entry.track</td>
                  <td>@entry.arrival</td>
                  <td>@entry.departure</td>
                  <td>@entry.depart</td>
                  <td>@entry.dest</td>
                  <td>@entry.arDelay</td>
                  <td>@entry.dpDelay</td>
              </tr>
            }
        </table>
    </article>
  </div>

  <!--@welcome("Mona", style = "scala")-->
}
