<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Bahn Time Table</title>
    <link rel="stylesheet" href="public/stylesheets/bahntime.css">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>

<header>
    <h1 style="text-align: center;">Bahn Time Tables</h1>
</header>

<body>
    <noscript>JavaScript required</noscript>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <main>
        <div style="display: flex; justify-content: space-between; padding: 1em 0; border: 1px solid black; margin: 1em 0; background-color: #8ac6df;">
            <input type="text" autofocus
                   v-bind:disabled="inputDisabled"
                   v-model.trim="inputValue"
                   v-on:input="handleInput">

            <div style="display: flex; width: 50em;">
                <button type="submit"
                        style="padding: 5px; margin: 0.1em; margin-right: 0.35em; "
                        v-on:click="searchStations">Suchen</button>

                <button type="submit"
                        style="padding: 5px; margin: 0.1em;"
                        v-show="checkBtnVisible && stations.length"
                        v-on:click="checkData">Auflösen</button>
            </div>
        </div>

        <div style="display: flex; padding: 1em; border: 1px solid black; margin: 1em 0; background-color: #8ac6df;">
            <div id="counter" v-show="stations.length">
                <b>Stations: {{stations.length}}</b>
                <b v-show="counterVisible"> ({{counter}}/{{stations.length}})</b>
            </div>
            <div id="counter">
                <b>Token available: {{token}}</b>
            </div>
        </div>

        <div style="border: 1px solid black; padding: 1em; margin-top: 1em; background-color: #8ac6df;" v-show="stations.length">
            <div class="divscroll">
                <ul>
                    <li class="ana3" v-for="el in stations"><span v-html="el.name">{{ el.name }}</span> &rarr; <span v-html="el.link">{{ el.link }}=</span></li>
                </ul>
            </div>

            <div v-show="buttonsVisible" class="ana3 divscroll" style="margin-top: 1em;">
                <span v-show="stations.length" v-for="st in stations">
                    <button style="padding: 5px; margin: 0.1em; vertical-align: middle;" v-on:click="getTimeTable(st.name, st.eva)">{{st.name}}</button> &nbsp;
                </span>
            </div>
        </div>

        <div v-show="tableVisible">
            <hr>
            <header>{{ currentStation }}</header>
            <table style="margin: auto;">
                <tr><th>Linie</th><th>Gl.</th><th>Ankunft</th><th></th><th>Abfahrt</th><th></th><th>Aus</th><th>Nach</th></tr>
                <tr v-for="e in timeTable">
                    <td>{{e.line}}</td>
                    <td>{{e.track}}</td>
                    <td>{{e.arrival | filterDate}}</td>
                    <td>{{ calcDiff(e.arrival, e.arDelay) }}</td>
                    <td>{{e.departure | filterDate}}</td>
                    <td>{{ calcDiff(e.departure, e.dpDelay) }}</td>
                    <td>{{e.depart}}</td>
                    <td>{{e.dest}}</td>
                </tr>
            </table>
        </div>
    </main>

    <script type="text/javascript" src="public/javascripts/vue.js"></script>
    <script type="text/javascript" src="public/javascripts/timetable.js"></script>

</body>

</html>
