<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Bahn Time Table</title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/htmlgame.css">
</head>

<body>
    <noscript>JavaScript required</noscript>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <main>
        <div class="flex">
            <input type="text" autofocus
                   v-bind:disabled="inputDisabled"
                   v-model:value="inputValue"
                   v-on:input="handleInput">
            <div>
                <button type="submit"
                        class="btn btn-primary submit"
                        v-on:click="submitForm">Suchen</button>
            </div>
        </div>
        <div>
            <b v-if="stations.length">Stations ({{stations.length}}):</b>
            <b v-if="counterVisible">({{counter}}/{{stations.length}})</b>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-primary submit"
                    v-on:click="checkData"
                    v-if="stations.length">Auflösen</button>

            <ul>
                <li v-for="el in stations"><span v-html="el.name">{{ el.name }}</span> - <span v-html="el.link">{{ el.link }}=</span></li>
            </ul>
        </div>

        <div v-if="buttonsVisible">
            <ul>
                <li v-if="stations.length" v-for="st in stations"><button class="btn submit" v-on:click="getTimeTable(st.eva)">{{st.eva}}</button></li>
            </ul>
        </div>

        <div v-if="tableVisible">
            <!--
            <table>
                <tr><th>Linie</th><th>Gl.</th><th>Ankunft</th><th></th><th>Abfahrt</th><th></th><th>Aus</th><th>Nach</th></tr>

            </table>
            -->
            {{timeTable}}
        </div>
    </main>

    <script type="text/javascript" src="public/javascripts/vue.js"></script>
    <script type="text/javascript" src="public/javascripts/timetable.js"></script>

</body>

</html>
