<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Bahn Time Table</title>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/htmlgame.css">
</head>

<body>
    <noscript>JavaScript required</noscript>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <main>
        <div class="flex">
            <input type="text" autofocus
                   v-bind:disabled="inputDisabled"
                   v-model:value="inputValue"
                   v-on:input="handleInput">
            <div>
                <button type="submit"
                        class="btn btn-primary submit"
                        v-on:click="submitForm">Suchen</button>
            </div>
        </div>
        <div>
            <b v-if="stations.length">Stations ({{stations.length}}):</b>
            <b v-if="counterVisible">({{counter}}/{{stations.length}})</b>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-primary submit"
                    v-on:click="checkData"
                    v-if="stations.length">Auflösen</button>
            <button type="submit"
                    v-on:click="getTimeTable(8001739)"
                    v-if="stations.length">TimeTable</button>
            <ul>
            <!--    <li v-for="el in stations"><span v-html="el.name">{{ el.name }}</span> - <span v-html="el.ds100">{{el.ds100}}</span></li>   -->
                <li v-for="el in stations"><span v-html="el.name">{{ el.name }}</span> - <span v-html="el.link">{{ el.link }}=</span></li>
            </ul>


            <ul>
                <li v-if="stations.length" v-for="st in stations"><button class="btn submit" v-on:click="getTimeTable(st.eva)">{{st.eva}}</button></li>
            </ul>

<!--
            <ul>
                <li v-if="stations.length" v-for="st in stations"><button class="btn submit" v-on:click="getTimeTable(${st.eva})">{{st.name}}</button></li>
            </ul>
-->
<!--
            <output class="green" v-if="stations.length">
                <span v-for="el in stations" :key="'output-' + el">{{el}}</span>
            </output>
-->
        </div>
        <div v-if="tableVisible">
            {{timeTable}}
        </div>
    </main>

    <script type="text/javascript" src="public/javascripts/vue.js"></script>
    <script type="text/javascript" src="public/javascripts/timetable.js"></script>

</body>

</html>
