* {
//  outline: 1px dashed red;
//  box-sizing: border-box;
}

.self-clear::after {
  content: "";
  display: block;
  clear: both;
}

header {
  padding: 5px 50px;
  font-weight: bold;
  font-size: 120%;
//  background-color: #5a96f8;
  background-color: #8ac6df;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: #8ac6df;
  background-color: #4a86e8;
  font-variant: small-caps;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//  font-family: Optima, Calibri, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 2em;
  max-width: 80vw;
  margin: 0 auto;
  background-color: #aae6ff;
}

main {
  display: block;
//  outline: 2px dotted blue;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.divbox {
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;
  background-color: #8ac6df;
}

button {
  font-size: 16px;
  color: #4a86e8;
  width: 15em;
  margin: 1em 0;
}
.submit {
  margin-top: 0.14em;
}

input[type="text"] {
  height: 1.25rem;
  width: calc(100% - 14.5rem);
  padding: 0.25rem 0.025rem;
  border: .15rem groove #4ad5e8;
  margin: 0 1.0rem;
}

input[type="text"][disabled] {
  border: none;
  margin: .25rem 0;
}

input:focus {
  box-shadow: 0 0 .25em .25em #4ad5e8;
}

#counter {
  width: 15rem;
  margin-right: 0.35rem;
  padding-top: .35rem;
  padding-bottom: .35rem;
  text-align: center;
  font-weight: bold;
  color: #4a86e8;
  background-color: #4ad5e8;
  border: 1px solid #4a86e8;
}

.ana1 {
  background-color: #4a86e8;
  border-color: #5d4ae8;
}

.ana2 {
  background-color: #5d4ae8;
  border-color: #4ad5e8;
}

.ana3 {
  background-color: #4ad5e8;
  border-color: #4a86e8;
}

.divscroll {
  max-height: 8.0em;
  overflow: scroll;
  border: 1px solid black;
  padding: 1em;
  background-color: #9ad6ef;
}

p, ul {
  margin: 15px 0;
}

ul:not(.elementlist) {
  padding-left: 30px;
}

ul.elementlist {
  margin: 0.2em 0;
  padding-left: 0;
}

.elementlist li {
  display: inline-block;
}

li {
  margin: 0.2em;
  margin-left: 0.5em;
  border: 1px solid black
}

table {
  border-collapse: separate;
}

th {
  text-align: left;
  font-weight: bold;
  background-color: #4a86e8;
  color: #4ad5e8;
  cursor: pointer;
  padding: 10px 10px;
}

td {
  text-align: left;
  font-weight: normal;
  min-width: 30px;
  padding: 4px 4px;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

table tr {
  background: #4ad5e8;
}

table tr:nth-of-type(odd) {
  background: #6aa6f8;
}
